<ion-header>
  <ion-toolbar>
    <ion-title>sucesso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img [src]="img"></ion-img>

  <ion-label>A sua compra foi realizada com sucesso! Em breve será enviado um email com a confirmação da sua encomenda! Obrigado</ion-label>

  
</ion-content>
<ion-footer color="light">
  <ion-toolbar>
    <ion-button (click)="voltar()" expand="block" fill="clear" color="light" shape="round">
      Fechar
    </ion-button>
  </ion-toolbar>
</ion-footer>
