<ion-header>
  <ion-toolbar>
    <ion-title>Métodos de pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-radio-group>

      <ion-list-header>
        <ion-label>Escolha o seu método de pagamento:</ion-label>
      </ion-list-header>
     
      <ion-item>
        <ion-label>Multibanco</ion-label>
        <ion-radio slot="start" color="success" value="multibanco"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>PayPal</ion-label>
        <ion-radio slot="start" color="tertiary" value="paypal"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Cartão de Crédito/Débito</ion-label>
        <ion-radio slot="start" color="danger" value="cartao"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Pagar na Loja</ion-label>
        <ion-radio slot="start" color="danger" value="loja"></ion-radio>
      </ion-item>

      <!--não sei se algum destes tem de dar check mas se der algum erro então provavelmente é aqui-->

    </ion-radio-group>
  
  </ion-list>
  
  <div>
    <p>Total Carrinho: </p>
    <p>Portes:</p>
    <p>Total:</p>
  </div>
  

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" color="buyit">Seguinte</ion-button>
  </ion-toolbar>
</ion-footer>